body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFBEF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 40px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

li {
  list-style: none;
}

nav ul li {
  margin: 0px 50px 0px 50px;
}

a {
  color: #000;
}

a:hover {
  color: #D9574F;
}

.site-title {
  font-size: 48px;
  font-weight: 400;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #FFF3E8;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: flex-end;

}

.icons {
  height: 2em;
  width: 2em;
}