body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFBEF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 40px;
}

nav ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

li {
  list-style: none;
}

nav ul li {
  margin: 0px 30px 0px 30px;
  font-size: 18px;
}

a {
  color: #000;
}

a:hover {
  color: #D9574F;
}

.site-title {
  font-size: 48px;
  font-weight: 400;
}

.About {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  margin: 100px 75px 50px 75px;
}

.about-image {
  flex: 1;
  height: auto;
  width: 50%;
}

.about-text {
  flex: 1 10%;
}

.about-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #FFF3E8;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: flex-end;

}

.icons {
  height: 2em;
  width: 2em;
}

.portfolio-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:100px 100px 150px 100px;
  gap: 20px
}

.Card {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 300px;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  -webkit-box-shadow: -2px 3px 0px 2px rgba(0,0,0,1);
  -moz-box-shadow: -3px 3px 0px 2px rgba(0,0,0,1);
  box-shadow: -7px 6px 0px 2px rgba(0,0,0,1);
}

.Card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.card-info {
justify-self: flex-end;
}

@media only screen and (max-width: 900px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .About {
    flex-direction: column;
    align-items: center;
    margin: 50px 75px 50px 75px;
  }

  .about-image {
    width: 70%;
  }

  .about-text {
    width: 70%;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 650px) {

  .about-image {
    width: 100%;
  }

  .about-text {
    width: 100%;
  }
}